@use "global" as *;

.blog {
  padding-top: rem(80);
  position: relative;
  @include mq(md) {
    padding-top: rem(100);
  }
}
.blog__bgImage {
  width: 100%;
  height: calc((500 / 831) * 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.blog__bgImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog__decorative {
  position: relative;
  width: 100%;
  max-width: rem(1280);
  margin-right: auto;
  margin-left: auto;
}
.blog__decorative-image {
  width: rem(437);
  height: rem(201);
  position: absolute;
  top: rem(-76);
  left: 0;
  margin-left: rem(25);
  z-index: 10;
}
.blog__decorative-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog__inner {
  max-width: rem(600);
  width: 100%;
}

.blog__cards {
  margin-top: rem(28);
  @include mq(md) {
    margin-top: rem(81);
  }
}
.blog__button {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}
