@use "global" as *;

.btn {
  position: relative;
}
.btn a {
  font-family: $en-font-family1;
  font-size: rem(14);
  font-weight: $regular;
  display: inline-block;
  background-color: $green;
  color: $white;
  padding: rem(20) rem(19) rem(18);
  width: 100%;
  max-width: rem(201);
  border: 1px solid $green;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  z-index: 2;

  position: relative;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

/*//////////////////////////////////////
ホバー時スライドして色が変化する
/////////////////////////////////////*/
.btn a::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $green;
  background-color: $white;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: -1;
}

.btn a:hover {
  color: $green;
}
.btn a:hover::before {
  transform: translateX(0);
}

.btn a:hover::after {
  border-bottom: 1px solid $green;
  border-right: 1px solid $green;
}
/*//////////////////////////////////////
終了
/////////////////////////////////////*/

.btn a::after {
  content: "";
  display: inline-block;
  width: rem(40);
  height: rem(8);
  transform: skew(45deg);
  border-bottom: 1px solid $white;
  border-right: 1px solid $white;
  margin-left: rem(8);
  margin-bottom: rem(5);
  z-index: 2;
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  max-width: rem(202);
  border: 1px solid $green;
  height: rem(54);
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: rem(4);
  margin-left: rem(4);
}
